 {{define "footer"}}
 <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>关于</h3>
                        {{ .IndexAbout.About | safe }}
                    </div>
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> 最近贴文 </h3>
                        <ul class="clean-list">
                           {{range $i, $v := .RecentPosts}}
                         <li><a href="single?id={{$v.Id}}">{{$v.Title}}</a></li>
                            {{end}}
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系我 Me</h3>

                     {{ .IndexContact.Contact | safe }}

                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
        </div>
    </footer>
    {{end}}