{{define "header"}}
   <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="index" id="logo">
                    <img src="img/logo.png" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="/index">文章</a>
                            </li>
                            <li>
                                <a href="/about">作者</a>
                            </li>
                            <li>
                                <a href="/contact">留言</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="#">kiki博客</a>
                </div>

                <div class="clean-searchbox">
                    <form action="/index" method="get" accept-charset="utf-8">
                        <input class="searchfield" id="searchbox" name = "search" type="text" placeholder="查找">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{{end}}