{{define "/index.html"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "header" .}}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">

                         {{range $i, $v := .Data.Article}}

                           <div class="col-md-6 col-sm-6">
                                                     <article class=" blog-teaser">
                                                         <header>
                                                           <img src="{{$.ImageAddr}}/{{$v.Image}}" alt="">
                                                             <h3><a href="single?id={{$v.Id}}"> {{$v.Title}}</a></h3>
                                                             <span class="meta">{{$v.Create_at}}</span>
                                                             <hr>
                                                         </header>
                                                         <div class="body">
                                                         {{$v.Content}}
                                                         </div>
                                                         <div class="clearfix">
                                                             <a href="single?id={{$v.Id}}" class="btn btn-clean-one">更多</a>
                                                         </div>
                                                     </article>
                           </div>



                         {{end}}

                    </div>



                    <div class="paging">
                        <a href="#" class="older">Older Post</i></a>
                    </div>
                </div>

             {{template "sidebar" .}}

            </div>
        </div>
    </div>

{{template "footer" .}}
{{template "js" .}}

</body>
</html>
{{end}}